beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
decorator==4.4.2
idna==3.3
imageio==2.14.1
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.22.1
Pillow==9.0.0
proglog==0.1.9
pytube @ git+https://github.com/ifahadone/pytube.git@620ba829ac87a186db86d936c59ab430040859b4
requests==2.27.1
soupsieve==2.3.1
tqdm==4.62.3
urllib3==1.26.8
